@media screen and (max-width: 640px) {
    .navbarUl {
      display: none;
    }
    .hamburger {
        display: flex;
    }
  }

  @media screen and (max-width: 940px) {
    .bigCarousel {
      display: none;
    }
    .smallCarousel {
        display: flex;
    }
  }

  @media screen and (max-width: 960px) {
      .presentationInner {
         height: 90%;
         justify-content: space-around;
      }
    .presentationInner p {
        padding: 1rem 1rem 0 1rem;
    }
  }

  @media screen and (max-width: 960px) {
    .products {
      height: 1400px;
    }
    .productsInner {
      height: 100%;
      display: grid;
      grid-template-areas:
      '. . pro . .'
      '. lur1 lur1 lur1 .'
      '. info1 info1 info1 .'
      '. lur2 lur2 lur2 .'
      '. info2 info2 info2 .'
      '. lur3 lur3 lur3 .'
      '. info3 info3 info3 .'
      '. lur4 lur4 lur4 .'
      '. info4 info4 info4 .';
      grid-template-rows:
      6% 18.5% 5% 18.5% 5% 18.5% 5% 18.5% 5%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

@media screen and (max-width: 640px) {
  .footerCol1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .eInput {
    width: 300px;
  }
  
  .qInput {
    width: 300px;
    height: 200px;
  }
}

